.main{
    display: flex;
    justify-content: center;
}

.login{
    font-family: cursive;
}


.title{
    background-color: white;
    border-radius: 10px;
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 15px;
}

.forgot-password{
    float: right;
    margin-top: 0px;

}
input{
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    font: 15px sans-serif
}

#weight{
    opacity: 0.5;
}

.click-login{
    border-radius: 20px;
    margin-top: -50px;
    background-color: rgb(81, 185, 81);
    color: #fff;
    padding-top: 6px;
    padding-bottom: 6px;
}

.click-login:hover{
    background-color: powderblue;
    color: rgb(126, 107, 197);
    transition: 0.5s;
    cursor: pointer;
}

.social-media{
    font-size: 20px;
    display: inline;
}

.social-media p{
    display: inline;
    padding: 8px;
}

#facebook{
    background-color: #3b5998;
    color: white;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 13px;
    cursor: pointer;
}


#facebook:hover{
    background-color: #829dd6;
    color: rgb(17, 240, 248);
    transition: 0.3s;
}

#twitter{
    background-color: #00acee;
    color: #fff;
    border-radius: 50%;
    padding-left: 15px;
    cursor: pointer;
}

#twitter:hover{
    background-color: #829dd6;
    color: rgb(17, 240, 248);
    transition: 0.3s;
}


#google{
    background-color: #db3236;
    color: #fff;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}


#google:hover{
    background-color: #829dd6;
    color: rgb(17, 240, 248);
    transition: 0.3s;
}


.separate-social{
    margin: 2rem;
    padding: 1rem;
}

.sign-up-text{
    font-size: 10px;
    letter-spacing: 2px;
}

body{
    font-family: cursive;
    background-image: url(person.jpg);
    background-repeat: no-repeat;
	background-size: cover;
}
